nav {
	background-color: #ffffff !important;
}
.logo {
	max-width: 800px;
}
button {
	background-color: transparent;
	color: #0c5bba;
	border-radius: 28px;
	border: 1px solid #0c5bba;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 23px;
}

.grey-button {
	color: rgb(52, 52, 52);
	border: 1px solid #ffffff;
}

h2 {
	color: #0c5bba;
}

.box {
	background-color: #0d5bba;
	color: white;
	padding: 0 4px 0 4px;
	border-radius: 4px;
	margin: 3px;
}

.form-section {
	width: 600px;
}
form {
	max-width: 400px;
}

input {
	width: 400px;
	padding: 10px;
}

.full-button {
	width: 400px;
	background-color: #0d5bba;
	color: white;
	padding: 15px;
}

a:hover {
	color: blue;
	cursor: pointer;
}
